{% extends 'core/base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
    <h1 class="text-2xl">Search</h1>

    <h2 class="text-2xl text-green-600">Products relating to "{{ query }}":</h2>

    {% if products %}
        {% include 'loja/partials/products.html' %}  
        <hr>
    {% else %}
        <div class="text-center mt-8">
            <h1 class="text-2xl text-gray-600">No products found for "{{ query }}"</h1>
            <p class="text-lg">We couldn't find any products matching your search.</p>
            <p class="text-lg">Please try a different search term.</p>
        </div>
    {% endif %}
{% endblock %}
